@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .cursor-grab {
    cursor: grab;
  }
  .cursor-grabbing {
    cursor: grabbing;
  }
}

@layer components {
  .font-desktop-title-main {
    font-size: 3rem;
    font-weight: 700;
  }
}

.font-desktop-text-main {
  font-size: 1rem;
  font-weight: 500;
}

.font-desktop-sub-title {
  font-size: 1.375rem;
  font-weight: 600;
}

.font-desktop-navigation {
  font-size: 0.875rem;
  font-weight: 500;
}

.font-mobile-title-main {
  font-size: 1.75rem;
  font-weight: 700;
}

.font-mobile-text-main {
  font-size: 0.875rem;
  font-weight: 500;
}

.font-mobile-sub-title {
  font-size: 1rem;
  font-weight: 600;
}

.font-mobile-navigation {
  font-size: 0.75rem;
  font-weight: 500;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #ffff;
  background-color: #07011a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/*shadow button */
.custom-shadow {
  box-shadow: 0px 0px 100px rgb(255, 31, 31);
}

/* scroll hidden */
.scrollbar-hidden {
  scrollbar-color: transparent transparent;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-content-right {
  animation: scroll-right 15s linear infinite;
}

@keyframes scroll-right {
  from {
    transform: translate(calc(-100% - 30px));
  }
  to {
    transform: translate(0%);
  }
}

.scroll-content-left {
  animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(calc(-100% - 30px));
  }
}

.fade-scroll {
  mask-image: linear-gradient(
    to right,
    transparent,
    #07011a 10%,
    #07011a 90%,
    transparent
  );
}
